
<div class="col-12">
    <div class=" rounded h-100 p-4">
        <h1 class="mb-4" style="color: rgb(107, 103, 103);">List </h1>
        <hr>
        <a style="color: rgb(122, 124, 129);" routerLink="/add" routerLinkActive="active" class="nav-item nav-link" data-bs-toggle="dropdown"><i class="fa fa-calendar"></i> Add </a>
        <label for="type">Type </label>
      
          
        
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>  
                      
                        <th scope="col" style="color: rgb(107, 103, 103);">Price</th>
                        <th scope="col" style="color: rgb(107, 103, 103);">typeSub</th>
        

                        
                        <th scope="col" style="color: rgb(107, 103, 103);"> D.Fin</th>
                        <th scope="col" style="color: rgb(107, 103, 103);"> D.Debut</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of subscription; let i = index">
                      <td style="color: rgb(107, 103, 103);">{{ event.firstName }}</td>

                      <td><button class="btn btn-danger btn-circle" (click)="deleteEvents(event.numSkier)">
                        <span class="bi bi-trash"></span>
                      </button></td>
                      
                    </tr>
                  </tbody>
                  

            </table>
          
        </div>
    </div>
</div>