<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        
        <!-- Spinner End -->
  
  
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3 " style="color: rosybrown ;">
            <nav class="navbar  " >
           
                <div class="d-flex align-items-center ms-4 mb-4" >
                    <div class="position-relative">
                    </div>
                    <div class="ms-3">
                    </div>
                </div>
                <div class="navbar-nav  "style="color: black;">
      
                    <a routerLink="/list" routerLinkActive="active" class="nav-item nav-link" data-bs-toggle="dropdown"><i  class="fa fa-user"></i> Subscription</a>
  
            
                        
                       
                        
                                                       
                 
                     
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
  
  
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand   sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <form class="d-none d-md-flex ms-4">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    
                    <div class="nav-item dropdown">
                       
                           
                    </div>
                  
                </div>
            </nav>


            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <router-outlet></router-outlet>

            </div>
            <!-- Blank End -->


            
            <!-- Footer End -->
        </div>
        <!-- Content End -->

        <!-- Back to Top -->
    </div>
    <footer  style="color: aliceblue;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-col">
              <div class="footer_contact">
                <h4>
                  Contact Us
                </h4>
               
              </div>
            </div>
          
           
          </div>
          <div class="footer-info">
            <p>
              &copy; <span id="displayYear"></span> All Rights Reserved By
              <a href="https://html.design/">Free Html Templates</a><br><br>
              &copy; <span id="displayYear"></span> Distributed By
              <a href="https://themewagon.com/" target="_blank">Chili's</a>
            </p>
          </div>
        </div>
      </footer>
    <!-- JavaScript Libraries -->
   
</body>

